.top{
	width: 100%;
	height: 11.73vw;
	display: flex;
	background-color: #F2F2F2;
}
#back{
	width: 3.47vw;
	height: 3.47vw;
	margin: auto 0 auto 4vw;
}
.categoryIndex-title{
	width: 82.67vw;
	text-align: center;
	color: #333333;
	font-size: 4.53vw;
	margin: auto 0;
}
#menu{
	width: 5.47vw;
	height: 1.07vw;
	display: flex;
	margin: auto 0;
}
#menu div{
	width: 1.07vw;
	height: 1.07vw;
	border-radius: 50%;
	background-color: #020202;
}
.header{
	display: flex;
	align-items: center;
	height: 12vw;
	width: 100%;
	font-size: 3.73vw;
	color: #333333;
	background-color: #FFF;
}
.header ul{
	overflow-x: auto;
	white-space: nowrap;
	width: auto;
}
.header ul li{
	display: inline-block;
	height: 8vw;
	line-height: 8vw;
	margin-left: 7.46vw;
	/*margin-top: 3.73vw;*/
}
.header ul:first-child{
	margin-left:-3.46vw;
}
.header ul:last-child{
	margin-right: 4vw;
}
.selectedCategory{
	border-bottom: 1px solid #FF3565;
	color: #FF3565;
}
/*#classification{
	width: 10%;
	height: 100%;
}
#classification div{
	width: 90%;
	height: 70%;
	background-color: blue;
	margin-left: 10%;
}
#classification p{
	width: 90%;
	height: 30%;
	font-size: 3vw;
	color: #fa59cb;
	text-align: center;
	line-height: 2.75vw;
	margin-left: 10%;
}*/
.welfare{
	width: 100%;
	height: 44vw;
	/*background: linear-gradient(90deg,#f15f37,#f16ebe);*/
	background-image: url(../assets/pic_banner.png);
	background-size: 100% 100%;
	overflow: hidden;
	text-align: left;
}
.welfare-title{
	font-size: 6.4vw;
	color: #FFFFFF;
	margin: 7vw 0 2.93vw 8.8vw;
}
.welfare-content{
	font-size: 4.27vw;
	color: #FFFFFF;
	margin: 0 0 6.2vw 8.8vw;
}
.welfare button{
	width: 26.4vw;
	height: 7.2vw;
	border-radius: 2em;
	background-color: #FFD111;
	font-size: 3.47vw;
	color: #FFFFFF;
	outline: none;
	border-style: none;
	margin-left: 8.53vw;
}
.welfare button img{
	width: 4.8vw;
	height: 2.93vw;
	margin-left: 1.33vw;
}
#top{
	width: 11.73vw;
	height: 11.73vw;
	border-radius: 50%;
	position: fixed;
	bottom: 18.8vw;
	right: 3.87vw;
	box-shadow: 0 0 27px #ffffff;
}
#top img{
	width: 140%;
	height: 140%;
	transform: translateX(-2.4vw) translateY(-1.6vw);
}
.coupon-main{
	width: 100%;
	overflow: hidden;
	margin-bottom: 9vw;
}
.category-title{
	height: 11.73vw;
	line-height: 11.73vw;
	color: #333333;
	text-align: left;
	padding-left: 4vw;
	font-size: 4vw;
	border-bottom: 1px solid #EEEEEE;
}