.main{
	width: 100%;
	height: 100vh;
	background-color: #F7F7F7;
}
.header{
	width: 100%;
	height: 11.2vw;
	display: flex;
	background-color: #F2F2F2;
}
#back{
	width: 3.47vw;
	height: 3.47vw;
	margin: auto 0 auto 4vw;
}
.categoryIndex-title{
	color: #333333;
	font-size: 4.8vw;
	margin: auto 35.07vw auto 37.09vw;
}
#menu{
	width: 5.47vw;
	height: 1.07vw;
	display: flex;
	margin: auto 0;
}
#menu div{
	width: 1.07vw;
	height: 1.07vw;
	border-radius: 50%;
	background-color: black;
}
.redeem-code{
	width: 100%;
	height: 37vw;
	background-image: url(../assets/pic_redeemcode.png);
	background-size: 100% 100%;
	overflow: hidden;
	margin-top: 2vw;
}
.redeem-code p{
	font-size: 5.07vw;
	color: #FFFFFF;
	line-height: 3vw;
	margin-top: 15.47vw;
}
.title{
	font-size: 4vw;
	color: #333333;
	margin-left: 4.53vw;
	text-align: left; 
}
.detail{
	width: 92vw;
	height: 96.8vw;
	background-color: #FFFFFF;
	border-radius: 1em;
	margin: 4vw auto 0 auto;
}
.detail .pho{
	width: 100%;
	height: 69.07vw;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background-color: pink;
}
.price{
	color: #FF2626;
	font-size: 3.2vw;
	margin: 3.2vw 0 3vw 1.87vw;
	text-align: left;
}
.price span{
	font-size: 3.73vw;
	font-weight: 600;
}
.content{
	color: #333333;
	font-size: 4.27vw;
	text-align: left;
	margin-left: 1.87vw;
	margin-bottom: 3vw;
}
.time-num{
	display: flex;
	font-size: 3.47vw;
	width: 95.36%;
	margin-left: auto;
	margin-right: auto;
}
.endtime{
	width: 50%;
	color: #FF3565;
	text-align: left;
}
.num{
	width: 50%;
	color: #999999;
	text-align: right;
}